{% extends "common_code/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}


{% block content %}
<div>
    <h1>Learn AI & Data Science Smartly</h1>
    <input type="button" value='COURSES'>
    <P>Learn without limits from affordable data science courses & Grab your dream job.</P>
    <img src="{% static "images/Hhpic.jpg" %}" height='400px' width='350px' alt="Image not found">
</div>
<div class='courses' alignment='center'>
    <h1>Data Science & AI Courses (Live)</h1>
    <p>Looking to break into high-growth fields like Python, R, Data Science, AI, DevOps, and Business Analytics? Earn a Professional Certificate from aiQuest Intelligence for practical, hands-on experience to boost your career. Start today and excel in the dynamic and evolving DATA industry.</p>
    <div>
        <img src="#" alt="image not found">
        <h4>Become a Python developer</h4>
    </div>
    <div>
        <img src="#" alt="image not found">
        <h4>Data Analysis Specialization</h4>
    </div>
    <div>
        <img src="#" alt="image not forund">
        <h4>Django For Web & AI</h4>
    </div>
    <div>
        <img src="#" alt="image not found">
        <h4>Data Science & Machine Learning With Python</h4>
    </div>
    <div>
        <img src="#" alt="image not found">
        <h4>Deep Learning & AI Specialization</h4>
    </div>
    <div>
        <img src="#" alt="image not found">
        <h4>Cloud Computing with AWS</h4>
    </div>
    <input type="button" value="VIEW ALL BLOGS">
</div>
{% endblock content %}  